
.container{
  height: 640px;
  width: 640px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  padding: 3px;
}
.rows{
  display: flex;
  padding: 0;
  margin: 0;
  flex: 1;
  justify-content: space-evenly;
  align-items: space-evenly;
}
.cols{
  border-style: none;
  border-width: 0;
  padding: 0;
  margin: 0;
  flex: 1;
}